
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.site-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    height: 100%;
    max-height: 100px;
}

.site-nav {
    background-color: #312682;
    padding: 20px 0;
    text-align: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #e20712;
}

@media (max-width: 768px) {
    .site-header {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        width: 80%;
        justify-content: center;
    }

    .logo{
        width: 100%;
    }

    .site-nav {
        text-align: left;
        padding: 10px;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .nav-link {
        font-size: 1.2rem;
    }
}

